html, body {
    height: 100%;
}

body {
    background: $baseLight;
    color: $baseDark;
    display: flex;
    flex-direction: column;
    font-family: verdana,arial;

    &:after {
        @include shadow-bottom-fuzzy;
    }
}

main {
    position: relative;
}

@include headings;
